{% load static %}
{% load i18n hooks press_url %}
{% get_current_language as current_language %}
<!DOCTYPE html>

<html lang="{{ current_language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no"/>

    {% if request.journal %}
        <meta name="description" content="{{ request.journal.description }}">
    {% endif %}

    <title>
        {% block title %}
            {% if request.journal %}
                {{ request.journal.name }}
            {% else %}
                {{ request.press.name }}
            {% endif %}
        {% endblock title %}
    </title>

    {% block head %}{% endblock head %}

    <link rel="sitemap"
          type="application/xml"
          title="Sitemap"
          href="{% url 'website_sitemap' %}">

    {% if not request.journal or journal_settings.general.feeds %}
        <link href="{% journal_url 'rss_articles' %}"
              type="application/atom+xml"
              rel="alternate"
              title="Article Feed for Journal">

        <link href="{% journal_url 'rss_news' %}"
              type="application/atom+xml"
              rel="alternate"
              title="News Feed for Journal">
    {% endif %}

    {% include "common/elements/favicons.html" %}


    <!-- Bootstrap فعلی -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">


    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
          rel="stylesheet">


    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">


    <!-- CSS اصلی سیستم -->
    <link href="{% static 'clean/css/clean.css' %}" rel="stylesheet">

    {% if request.journal %}
        <link href="{% static 'clean/css/journal' %}{{ request.journal.id }}_override.css"
              rel="stylesheet">
    {% endif %}

    <link href="{% static 'common/css/index.css' %}" rel="stylesheet">


    <!-- CSS جدید شما -->
    <link href="{% static 'clean/css/homepage_custom.css' %}"
          rel="stylesheet">


    {% block css %}{% endblock %}

    {% hook 'base_head_css' %}
</head>
<body>

    {% include "common/elements/skip_to_main_content.html" %}


    <!-- ===================== Header ===================== -->

    {% include "core/nav.html" %}


    <!-- ===================== Main ===================== -->

    <main
        id="main-content"
        class="site_main"
        role="main"
    >

        <!-- Django messages -->
        {% for message in messages %}

            <div class="alert alert-{{ message.tags }} alert-dismissable">

                <button
                    class="close"
                    data-dismiss="alert"
                    aria-describedby="message-{{ forloop.counter }}"
                    type="button"
                >

                    <span aria-hidden="true">
                        &times;
                    </span>

                    <span class="sr-only">
                        {% trans "Close message" %}
                    </span>

                </button>


                <span id="message-{{ forloop.counter }}">
                    {{ message|linebreaksbr }}
                </span>

            </div>

        {% endfor %}


        {% block body %}
        {% endblock body %}

    </main>


    <!-- ===================== Footer ===================== -->

    <footer
        class="site-footer"
        id="footer"
    >
        {% include "core/footer.html" %}
    </footer>


    <!-- ===================== Analytics ===================== -->

    {% include "common/elements/analytics.html" %}


    <!-- ===================== Existing JS ===================== -->

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZtkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
    ></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
    ></script>

    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUd0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifB6"
        crossorigin="anonymous"
    ></script>


    {% block js %}
    {% endblock js %}

</body>
</html>
