{% load static %}
{% load svg from press_url %}
{% load roles %}
{% load i18n %}
{% load hooks %}
{% load next_url %}

<nav class="navbar navbar-expand-lg navbar-custom ua-global-nav" aria-label="{% trans 'Primary navigation' %}">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="{% trans 'Toggle navigation' %}">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ua-main-nav">
            {% if request.journal.nav_home %}
                <li class="nav-item">
                    <a href="{% url 'website_index' %}" class="nav-link">{% trans 'Home' %}</a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a href="{% url 'cms_page' 'about' %}" class="nav-link">{% trans 'About' %}</a>
            </li>

            {% if request.journal.nav_issues %}
                <li class="nav-item">
                    <a href="{% url 'journal_issues' %}" class="nav-link">{% trans 'Archive' %}</a>
                </li>
            {% endif %}

            {% if journal_settings.general.enable_editorial_display %}
                <li class="nav-item">
                    <a href="{% url 'editorial_team' %}" class="nav-link">
                        {% trans 'Editorial Board' %}
                    </a>
                </li>
            {% endif %}

            {# Render the configured Guides & Policies navigation item when it exists. #}
            {% for item in navigation_items %}
                {% if not item.for_footer and item.link_name == 'Guides & Policies' %}
                    <li class="nav-item{% if item.has_sub_nav %} dropdown{% endif %}">
                        {% if item.has_sub_nav %}
                            <button class="nav-link dropdown-toggle dropdown-button" id="guides-policies"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ item.link_name }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="guides-policies">
                                {% for subnav in item.sub_nav_items %}
                                    <li><a href="{{ subnav.url }}" class="dropdown-item">{{ subnav.link_name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <a href="{{ item.url }}" class="nav-link">{{ item.link_name }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}

            {% if request.journal.nav_contact %}
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link">{% trans 'Contact us' %}</a>
                </li>
            {% endif %}
        </ul>

        <div class="ua-nav-tools ml-lg-auto">
            <a href="{% url 'search' %}" class="ua-search-link" aria-label="{% trans 'Search' %}" title="{% trans 'Search' %}">
                <i aria-hidden="true" class="fa fa-search"></i>
            </a>

            {% if request.user.is_authenticated %}
                <div class="nav-item dropdown ua-account-item">
                    <button class="ua-account-button dropdown-toggle dropdown-button" id="user"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Account' %}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user">
                        <li><a class="dropdown-item" href="{% url 'core_dashboard' %}">{% trans 'Dashboard' %}</a></li>
                        {% if not journal_settings.general.disable_journal_submission %}
                            <li><a class="dropdown-item" href="{% url 'submission_start' %}">{% trans 'Submit' %}</a></li>
                        {% endif %}
                        {% user_has_role request 'editor' as user_is_editor %}
                        {% if user_is_editor or request.user.is_staff %}
                            <li><a class="dropdown-item" href="{% url 'kanban' %}">{% trans 'Kanban' %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'core_manager_index' %}">{% trans 'Manager' %}</a></li>
                            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'article_view' and article %}
                                <li><a class="dropdown-item" href="{% url 'manage_archive_article' article.pk %}">{% trans 'Edit Article' %}</a></li>
                            {% endif %}
                            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'journal_issue' and issue %}
                                <li><a class="dropdown-item" href="{% url 'manage_issues_id' issue.pk %}">{% trans 'Edit Issue' %}</a></li>
                            {% endif %}
                            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'core_news_item' and news_item %}
                                <li><a class="dropdown-item" href="{% url 'core_manager_edit_news' news_item.pk %}">{% trans 'Edit News Item' %}</a></li>
                            {% endif %}
                        {% endif %}
                        {% if request.user.is_staff %}
                            <li><a class="dropdown-item" href="/admin/">{% trans 'Admin' %}</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'core_edit_profile' %}">{% trans 'Profile' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'core_logout' %}">{% trans 'Logout' %}</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'core_login' %}" class="ua-auth-link">{% trans 'Login' %}</a>
                <span class="ua-auth-separator">/</span>
                <a href="{% url 'core_register' %}" class="ua-auth-link">{% trans 'Register' %}</a>
            {% endif %}

            {% if not journal_settings.general.disable_journal_submission %}
                <a href="{% url 'submission_start' %}" class="ua-submit-button">{% trans 'Submit Manuscript' %}</a>
            {% endif %}
        </div>
    </div>
</nav>
